.app-container{
    display: flex;
}

.content{
    width:100% ;
}

.sidebar{
    min-height:800px ;
    

}

.post-card{
    margin: 25px 50px;
    
    background:#fff;
    box-shadow: 0 1px 6px rgba(0,0,0);
    font-size: 20px;

}



.hashtag{
    margin: 2px 3px;

}

.reactions{
    margin: 15px 0 0 0;
}


.create-post{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;

}


.welcome-message{
    margin: 100px 0;
    
}
